:root {
  --font: "Roboto", sans-serif;
  --dark-grey: #262626;
  --black: #000000E5;
  --blue: #2271D1;
  --white: #FFFFFF;
  --dark-blue: #03122F;
  --color-button-home: #6644ff;
  --color-button-nuevoVideo: #DBCBBD;
  --color-button-guardar: #D2ECF9;
  --color-button-limpiar: #E4DCAD;
  --color-backend: #00C86F;
  --color-frontend: #6BD1FF;
  --color-innovacionygestion: #FFBA05;

}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}